.content.col-lg-12.infinite-scroll
  .articles
    - @articles.each do |article|
      = render "shared/article", article: article
  %a.jscroll-next{ href: articles_path(page: @page+1) }
.reader-container
  .close.close-reader X
  %iframe#reader
